@media (min-width: 1440px) {
  .app__layout {
    padding: 0 215px;
  }

  .app__content {
    padding: 0 36px !important;
  }
}

.app__layout {
  background-color: #f7f7f7;
  min-height: 100vh !important;
}

.app__content {
  background-color: #ffffff;
  min-height: 100vh !important;
  padding: 0 16px;
}
