.card {
  border-radius: 0;
}

.card > * {
  display: grid;
  padding: 6px 10px !important;
  grid-template-columns: 62px repeat(2, auto);
  grid-template-areas:
    'poster title vote'
    'poster date date'
    'poster genres genres'
    'overview overview overview'
    'rate rate rate';
}

.card > *::after,
.card > *::before {
  display: unset !important;
  content: none !important;
}

.card__poster {
  grid-area: poster;
  width: 62px;
  height: 93px;
}

.card__title {
  grid-area: title;
  margin: 0 13px 7px;
}

.card__vote-average {
  grid-area: vote;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  border: solid 2px;
  min-width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  justify-self: end;
}

.card__vote-average_low {
  border-color: #e90000;
}

.card__vote-average_medium {
  border-color: #e97e00;
}

.card__vote-average_high {
  border-color: #e9d100;
}

.card__vote-average_very-high {
  border-color: #66e900;
}

.card__date {
  grid-area: date;
  margin: 0 13px 7px;
}

.card__genres {
  grid-area: genres;
  margin: 0 13px 3px;
}

.card__genre-tag {
  margin-bottom: 4px;
}

.card__overview {
  grid-area: overview;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__rate {
  grid-area: rate;
  font-size: 15px;
  display: block;
  justify-self: end;
}

@media (min-width: 1200px) {
  .card > * {
    padding: 0 !important;
    grid-template-rows: repeat(3, min-content) auto min-content;
    grid-template-columns: 185px repeat(2, auto);
    grid-template-areas:
      'poster title vote'
      'poster date date'
      'poster genres genres'
      'poster overview overview'
      'poster rate rate';
    height: 278px;
  }

  .card__poster {
    width: 185px;
    height: 278px;
  }

  .card__title {
    margin: 12px 0 0 20px;
    margin-bottom: 0 !important;
  }

  .card__vote-average {
    margin: 12px 9px 0 0;
  }

  .card__date {
    margin: 0 20px 0;
  }

  .card__genres {
    margin: 0 20px 0;
  }

  .card__overview {
    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card__rate {
    font-size: 15px;
    justify-self: start;
    margin-left: 20px;
  }
}
